body {
  font-family: "Nunito", sans-serif;
  font-weight: 1000;
  color: #000;
  font-size: 1.2rem;
  overflow-x: hidden;
  background: linear-gradient(0deg, #9DDE8B, #40A578);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

button {
  color: white;
  background-color: #9DDE8B;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar h1 {
  color: #9DDE8B;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:#f2f2f2
}

.navbar a:hover {
  color: #9DDE8B;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}